import boto.s3.connection

access_key = 'changeme'
secret_key = 'changeme'
conn = boto.connect_s3(
        aws_access_key_id=access_key,
        aws_secret_access_key=secret_key,
        host='192.168.0.73', port=7480,
        is_secure=False, calling_format=boto.s3.connection.OrdinaryCallingFormat(),
       )

bucket = conn.create_bucket('test-bucket')

for bucket in conn.get_all_buckets():
    print( "{name} - {created}".format(
        name=bucket.name,
        created=bucket.creation_date,
    ))


# https://boto.cloudhackers.com/en/latest/ref/
#
