import sys
import boto3
from botocore.config import Config

# user's access-key and secret-key you added on [2] section
session = boto3.session.Session(
    aws_access_key_id = 'admin',
    aws_secret_access_key = 'changeme'
)

# Object Gateway URL
s3client = session.client(
    's3',
    endpoint_url = 'http://{{ hostvars[groups['mon'][2]]['ansible_'~netdev0]['ipv4']['address'] }}:7480',
    config = Config()
)

# create [jtest-bucket01]
bucket = s3client.create_bucket(Bucket = 'jtest-bucket01')

# List Buckets
print(s3client.list_buckets())

# Remove [jtest-bucket01]
s3client.delete_bucket(Bucket = 'jtest-bucket01')

